/* Base container */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.flex-center {
    justify-content: center;
}

.flex-bettwen {
    justify-content: space-between;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-around {
    justify-content: space-around;
}

.flex-ac {
    align-items: center;
}


/* Header section */
header {
    height: 133px;
    background-color: #ffffff;
}