@import url('variables.css');
@import url('animation.css');





/* Setting selector */
.link-hover__black-yellow:hover {
    background-color: var(--dark-color);
    color: var(--yellow-color);
    transition: 0.4s;
}



/* -------------------------- */




/* Dark line whit button */
.dark-line {
    background-color: var(--dark-color);
    height: 110px;
}

.dark-line__text {
    color: var(--yellow-color);
    font-weight: bold;
}

.dark-line__button {
    background-color: var(--yellow-color);
    color: var(--white-color);
    width: 361px;
    height: 70px;
    border-radius: 34px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: 0.4s;
}

.dark-line__button:hover {
    background-color: transparent;
    border: 2px solid var(--yellow-color);
    color: var(--yellow-color);
    transition: 0.4s;
}


/* Kubetol digits */
.kubetol-digits {
    position: relative;
}

.kubetol-digits__title {
    margin-left: auto;
    font-size: var(--font-43);
    color: white;
    margin-top: 93px;
    font-weight: bold;
}

.kubetol-digits__figure {
    height: 687px;
    background-color: var(--yellow-color);
    min-width: 345px;
    width: calc((100% - var(--width)) / 2 + 345px);
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

.kubetol-digits__text {
    margin-top: 57px;
}

.kubetol-digits__button {
    margin-top: 57px;
    width: 265px;
    height: 62px;
    background-color: var(--yellow-color);
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s;
}

.kubetol-digits-text__stroke {
    content: '';
    display: flex;
    position: absolute;
    -webkit-text-stroke: 2px var(--yellow-color);
    color: transparent;
    font-size: 440px;
    left: calc((100% - var(--width)) / 4 - 165px);
    font-weight: bold;
    top: 100px;
    z-index: -1;
}

.kubetol-digits__wrapper {
    flex-wrap: wrap;
}

.kubetol-digits__wrapper-item {
    min-width: 360px;
}

.kubetol-digits__item-figur {
    background-color: var(--dark-color);
    color: var(--yellow-color);
    border-radius: 54px;
    min-width: 360px;
    min-height: 110px;
}