@import url('variables.css');
@import url('animation.css');



/* Video Slider section 1 */
.owl-carousel {
    position: relative;
    height: 100vh;
}

.slider-item {
    position: relative;
}

#slider-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: -1;
}

.slider-item img {
    display: block;
    width: 100%;
    height: auto;
}

.slider-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.video-slider video {
    width: 100%;
}