@import url('variables.css');
@import url('animation.css');





/* Setting selector */
.link-hover__black-yellow:hover {
    background-color: var(--dark-color);
    color: var(--yellow-color);
    transition: 0.4s;
}



/* -------------------------- */


/* Main page slider */


.slider-video__wrapper .slider-item img {
    display: block;
    width: 100%;
    height: auto;
}

.slider-video__wrapper .slider-item {
    max-height: 1080px;
    margin: -15px 0;
}

.slider-video__wrapper {
    position: relative;
}

.slider-video__wrapper video {
    width: 100%;
    min-height: 1080px;
}

.video-item {
    flex-direction: column;
}

.video-slider__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgb(170, 170, 170, 0.3);
    z-index: 1;
}

.slider-video__wrapper .slider-caption {
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    width: 100%;
}

.video-wrapper__title {
    font-size: var(--font-100);
    font-weight: 900;
    color: var(--white-color);
    max-width: 50%;
    margin-top: 169px;
    text-transform: uppercase;
}

.video-wrapper__subtitle {
    margin-top: 33px;
    color: var(--white-color);
    max-width: 50%;
    overflow-y: hidden;
    max-height: 180px;
    height: 180px;

}

.video-wrapper__button {
    width: 361px;
    height: 62px;
    border-radius: 30px;
    background-color: var(--dark-color);
    box-sizing: border-box;
    border: 1px solid transparent;
}

.video-wrapper__button a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: -4px;

}

.video-wrapper__button:hover a {
    color: var(--yellow-color);
}

.video-slide__yellow-figure {
    display: flex;
    position: absolute;
    background-color: rgb(250, 188, 21, 0.95);
    width: 40%;
    min-height: 569px;
    max-height: 569px;
    top: 103px;
    border-radius: 0 270px 270px 0;
    z-index: 2;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}

.video-slide__yellow-figure img {
    width: 529px !important;
    height: 529px;
}

.slider-video__text {
    position: absolute;
    bottom: -213px;
    left: calc((100% - var(--width)) / 4);
    z-index: -1;
}

.slider-video__text-big {
    font-size: 170px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--yellow-color);
    line-height: 1;
    text-shadow: 0 0.1px 0px rgb(105, 105, 105);
}

.slider-video__text_small {
    font-size: var(--font-45);
    color: var(--white-color);
    opacity: 0.6;
}

.slider-video__wrapper .owl-dots {
    position: absolute;
    top: 50%;
    right: calc((100% - var(--width)) / 2);
}

.slider-video__wrapper .owl-dots button {
    background-color: var(--yellow-color);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 3px;
}

.slider-video__wrapper .owl-dots .active {
    background-color: transparent;
    border: 2px solid var(--yellow-color);
}

/* Dark line whit button */
.dark-line {
    background-color: var(--dark-color);
    height: 110px;
}

.dark-line__text {
    color: var(--yellow-color);
    font-weight: bold;
}

.dark-line__button {
    background-color: var(--yellow-color);
    color: var(--white-color);
    width: 361px;
    height: 70px;
    border-radius: 34px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: 0.4s;
}

.dark-line__button:hover {
    background-color: transparent;
    border: 2px solid var(--yellow-color);
    color: var(--yellow-color);
    transition: 0.4s;
}


/* Kubetol digits */
.kubetol-digits {
    position: relative;
}

.kubetol-digits__title {
    margin-left: auto;
    font-size: var(--font-45);
    color: white;
    margin-top: 93px;
    font-weight: bold;
}

.kubetol-digits__figure {
    height: 687px;
    background-color: var(--yellow-color);
    min-width: 345px;
    width: calc((100% - var(--width)) / 2 + 345px);
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

.kubetol-digits__text {
    margin-top: 57px;
}

.kubetol-digits__button {
    margin-top: 57px;
    width: 265px;
    height: 62px;
    background-color: var(--yellow-color);
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s;
}

.kubetol-digits-text__stroke {
    content: '';
    display: flex;
    position: absolute;
    -webkit-text-stroke: 2px var(--yellow-color);
    color: transparent;
    font-size: 440px;
    left: calc((100% - var(--width)) / 4 - 165px);
    font-weight: bold;
    top: 100px;
    z-index: -1;
}

.kubetol-digits__wrapper {
    flex-wrap: wrap;
    margin-top: 127px;
}

.kubetol-digits__wrapper-item {
    width: 360px;
}

.kubetol-digits__item-figur {
    background-color: var(--dark-color);
    color: var(--yellow-color);
    border-radius: 54px;
    min-height: 110px;
    font-size: var(--font-45);
    font-weight: bold;
}

.kubetol-digits__item-text {
    text-align: center;
    margin-top: 20px;
}

/* Shipped slider main page --------------------------
------------------------------------------------------ */
.kubetol-shipped {
    margin-top: 120px;
}

.kubetol-shipped__title {
    margin-left: auto;
    font-size: var(--font-45);
    color: var(--yellow-color);
    font-weight: bold;
    text-transform: uppercase;
}

.kubetol-shipped__slider {
    margin-top: 60px;
}

.slider-caption__text {
    margin-left: 15px;
    min-width: 120px;
}

.slider-caption__arrow {
    margin-right: 15px;
}

.slider-caption__item img {
    width: auto;
}

.kubetol-shipped__slider .owl-nav {
    position: absolute;
    top: -80px;
}

.kubetol-shipped__slider .owl-next,
.kubetol-shipped__slider .owl-prev {
    background-color: var(--yellow-color) !important;
    width: 68px;
    height: 68px;
    border-radius: 50%;

}

.kubetol-shipped__slider .owl-prev {
    margin-right: 30px;
}

.kubetol-shipped__slider .owl-next span,
.kubetol-shipped__slider .owl-prev span {
    color: var(--white-color);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}