@import url('variables.css');
@import url('animation.css');



.slider-item img {
    display: block;
    width: 100%;
    height: auto;
}

.slider-video__wrapper {
    position: relative;
}

.slider-video__wrapper video {
    width: 100%;
}

.video-slider__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgb(170, 170, 170, 0.3);
    z-index: 1;
}

.slider-caption {
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    width: 100%;
}

.video-wrapper__title {
    font-size: var(--font-100);
    font-weight: 900;
}